/* styles.css */ 

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
==========================
Google Logo
==========================
*/ 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*
================================
Horizontal - Navbar Design (Top)
================================
*/ 

#navheader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgba(33, 33, 33, 0.838);
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
}

.active {
    background-color: none;
}

#signin {
    background-color: #4285f4;
    border: 1px solid #4285f4;
    display: inline-block;
    outline: none;
    padding: 0 5px;
    border-radius: 2px;
    width: 65px;
    height: 30px;
    margin: 10px 20px;
}

.sign {
    display: block;
    color: white;
    font-weight: bold;
    padding:8px
}

#setting {
    width: 30px;
    display: inline-flex;
    height: 30px;
    position: relative;
    top: 13px
}


/*
===================================
Horizontal - Navbar Design (Bottom)
===================================
*/ 

#navfooter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(220, 220, 220, 0.632);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 6%;
}

footer li a {
     display: block;
     color: rgb(53, 52, 52);
}

/*
===================================
Search Bar
===================================
*/ 


input[type=text] {
    color: black;
    border-color: transparent;
    position: relative;
    top: 11px;
    width: 75%;
    padding: 3px;
}

input:focus, textarea:focus {
    outline: none;
}

div {
    margin-top: 15%;
}

button {
    position: relative;
    margin-left: 3%;
    margin-bottom: 0px;
    margin-top: auto;
    padding-bottom: auto;
    color: grey;
    font-size: 15px;
    bottom: 15px;
    border: 1px white;
    border-color: white;
    background: white;
}

#searchbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;
    padding: 0%;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 25px;
    width: 65%;
}

/*
===================================
2 Textboxes under Searchbar
===================================
*/ 

.TBS {
    position: relative;
    left: 25%;
    bottom: 45px;
}

#GS {
    border: 1px solid rgba(90, 101, 114, 0.091);
    padding: 5px;
    width: 20%;
    height: 25%;
    background: rgba(90, 101, 114, 0.091);
    border-radius: 5px;
}

#IFL {
    border: 1px solid solid rgba(90, 101, 114, 0.091);
    padding: 5px;
    width: 20%;
    background: rgba(90, 101, 114, 0.091);
    border-radius: 5px;
}

#GS a {
    color: rgba(0, 0, 0, 0.776);
    padding: auto;
}

#IFL a {
    color: rgba(0, 0, 0, 0.776);
}